#loading-indicator {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;

    background-color: hsl(236, 33%, 92%, 0.25);

    will-change: opacity;
    transition-property: opacity;

    pointer-events: none;
    touch-action: none;

    z-index: 999;

    opacity: 0;

    .loading-spinner {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid;

        animation: spin 1000ms linear infinite;

        border-color: hsl(235 19% 35%);
        border-right-color: hsl(235, 24%, 19%);
    }
}

[data-theme=dark] {
    #loading-indicator {
        background-color: hsl(235, 21%, 11%, 0.25);

        .loading-spinner {
            border-color: hsl(235 19% 35%);
            border-right-color: hsl(236 9% 61%);
        }
    }
}

#loading-indicator.htmx-request {
    opacity: 1;
    pointer-events: all;
    touch-action: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
